@use '../../scss/helpers' as *;
@use '../../scss/auxiliary' as *;

.inner {
	padding-block: rem(20);
	display: grid;

	row-gap: rem(20);

	border-bottom-right-radius: rem(8);
	border-bottom-left-radius: rem(8);

	@include mobile {
		height: 100%;
	}
}
.title {
	padding-left: rem(20);
}
.pdf {
	display: block;
	max-width: rem(1000);
	width: 100%;
	height: rem(600);

	margin: 0 auto;
}
