@use '../../scss/helpers' as *;
@use '../../scss/auxiliary' as *;

.root {
	border-bottom-right-radius: rem(8);
	border-bottom-left-radius: rem(8);

	max-width: rem(1632);
	margin-inline: auto;

	@include mobile {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
}

.pagination {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	gap: rem(10);

	margin-block: rem(20);

	button {
		display: inline-block;
		width: rem(40);
		height: rem(40);

		border: rem(1) solid #ccc;

		background-color: #fe5f1e;
		color: #fff;
		cursor: pointer;

		border-radius: 50%;

		aspect-ratio: 1;

		@include hover {
			background-color: #007bff;
			color: #fff;
			border-color: #007bff;
		}

		&:disabled {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}

	.active {
		background-color: #007bff;
		color: #fff;
		border-color: #007bff;
	}
}
