@use '../helpers' as *;

html {
	&.is-lock {
		overflow: hidden;
	}
}

body {
	font-size: adaptiveSize(18, 16);

	font-family: $main-ff;
	background-color: #ffdf8c;
}

.wrapper {
	height: 100%;
	width: 100%;
	padding: rem(20);

	display: flex;
	flex-direction: column;

	border-radius: rem(8);

	@include laptop {
		padding: rem(10);
	}
	@include mobile {
		padding: rem(4);
	}
}

.page {
	flex-grow: 1;
}

section img {
	border-radius: rem(4);
	overflow: hidden;
}

.circle {
	@include mobile-mf {
		position: relative;

		&::before,
		&::after {
			content: '';
			border-radius: 50%;

			position: absolute;
			left: 0;
			top: 50%;
			translate: 0 -50%;
		}
		&::before {
			width: rem(10);
			height: rem(10);

			background-color: #00578a;
		}
		&::after {
			width: rem(4);
			height: rem(4);

			background-color: #fff;
			left: rem(3);
		}
	}
}

.visually-hidden {
	@include visually-hidden;
}

.visible-mobile {
	@include mobile-mf {
		display: none;
	}
}

a,
button {
	&[aria-label] {
		position: relative;

		&::after {
			content: '';

			@include abs-center;
			@include square(44);
		}
	}
	transition-duration: 0.2s;
}

:focus-visible {
	outline: rem(2) dashed #fff;
	outline-offset: rem(4);
	transition-duration: 0s !important;
}
