@use '../../scss/helpers' as *;
@use '../../scss/auxiliary' as *;

:global {
	.rs-dropdown {
		position: relative;
		z-index: 5;

		padding-block: rem(4);
		@include hover {
			.rs-btn {
				background-color: rgb(46, 67, 166);
			}
		}
		@include tablet {
			font-size: rem(20);
		}
	}
	.rs-dropdown-item {
		text-decoration: none;
		white-space: nowrap;
		@include hover {
			text-decoration: none;
		}
	}
	.rs-icon {
		margin-left: rem(6);
		transition-duration: 0.2s;
	}
	.rs-dropdown-open {
		.rs-icon {
			display: inline-block;
			rotate: 180deg;

			transition-duration: 0.2s;
		}
	}
	.rs-btn {
		color: #fff;
		font-weight: 500;

		background-color: #4361ee;

		padding: rem(6) rem(16);
		border-radius: rem(4);
	}
	.rs-dropdown-menu {
		position: absolute;
		z-index: 2;
		top: 100%;
		left: 0;

		box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.09);
		background: #fff;
		border-radius: rem(4);
	}
	.rs-dropdown-item {
		color: #4361ee;
		span {
			display: inline-block;
			width: 100%;
		}
		a,
		button {
			color: inherit;
			display: inline-block;
			padding: rem(4) rem(10);
			font-weight: 500;

			width: 100%;
			@include hover {
				color: #000;
				background-color: rgba(67, 97, 238, 0.05);
			}
		}
	}
}
.langDropdown {
	position: relative;
	z-index: 10;

	:global {
		.rs-dropdown-menu {
			position: absolute;
			z-index: 2;
			top: 100%;
			left: 0;
		}
	}
}
.langBtn {
	color: inherit;
	text-align: left;
}
