@use '../../scss/helpers' as *;
@use '../../scss/auxiliary' as *;

.inner {
	padding-block: rem(20);
	border-bottom-right-radius: rem(8);
	border-bottom-left-radius: rem(8);

	@include mobile {
		flex-grow: 1;
	}
}
.img {
	img {
		display: inline-block;
	}
	text-align: center;

	max-width: rem(600);
	margin-inline: auto;

	margin-bottom: rem(20);

	border-radius: rem(8);
	overflow: hidden;
	object-fit: cover;
}
.text {
	padding-inline: rem(20);
}
