@use '../../scss/helpers' as *;
@use '../../scss/auxiliary' as *;

.root {
	position: relative;
	padding-block: rem(10);

	z-index: 10;

	&:hover {
		.button {
			border-color: transparent;
			background-color: #eb5a1e;
			color: #fff;

			&::before {
				border-top-color: #fff;
				rotate: 180deg;
				top: 35%;
			}
		}
		.list {
			opacity: 1;
			visibility: visible;
			translate: 0 rem(0);
			pointer-events: all;
		}
	}
}

.button {
	padding: rem(10) rem(30) rem(10) rem(16);

	min-width: rem(192);

	border: rem(1) solid #eb5a1e;
	border-radius: rem(30);

	color: #eb5a1e;
	font-weight: 500;

	transition-duration: 0.2s;

	position: relative;
	&::before {
		content: '';
		border: rem(8) solid transparent;
		border-top: rem(8) solid #eb5a1e;

		transition-duration: 0.2s;

		position: absolute;
		top: 50%;
		translate: 0 -20%;
		right: rem(8);
	}
}

.list {
	position: absolute;
	top: 100%;
	z-index: 10;

	background-color: #fff;
	border-radius: rem(6);
	box-shadow: 0 rem(5) rem(15) 0 rgba(0, 0, 0, 0.09);

	width: 100%;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	translate: 0 rem(10);

	transition-duration: 0.2s;
}

.listButton {
	padding: rem(10);
	width: 100%;
	text-align-last: left;
	@include hover {
		color: #eb5a1e;
		background-color: rgba(235, 90, 30, 0.05);
	}
}
